@using ACMEINC.Models;
@model IEnumerable<OrderDetails>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Order History</h2>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(c => c.Id)
            </th>
            <th>
                @Html.DisplayNameFor(c => c.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(c => c.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(c => c.Order)
            </th>
            <th></th>
            <th></th>
        </tr>
        </table>
</div>

@section scripts {
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["save"]'
            if (save != '') {
                alertify.success(save);
            }
            var edit = '@TempData["edit"]'
            if (edit != '') {
                alertify.success(edit);
            }
            var del = '@TempData["delete"]'
            if (del != '') {
                alertify.success(del);
            }
        })
    </script>
}
